* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Michroma", sans-serif;
    background-color: #F4EDE7;
    text-transform: uppercase;
}

.menu {
    width: 100%;
    background-color: #F4EDE7;
    border-bottom: 1px solid #000;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    padding: 40px;
    justify-items: center;
}

.card {
    width: 400px;
    height: 550px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.card h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.img-box {
    width: 365px;
    height: 250px;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stars {
    text-align: right;
    font-size: 24px;
}

.btn {
    width: 150px;
    padding: 10px 0;
    border: 2px solid #000;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}

.card-tea {
    background-color: #AACC96;
}

.card-forest {
    background-color: #25533F;
    color: #fff;
}

.card-peach {
    background-color: #F4BEAE;
}

.card-blue {
    background-color: #52A5CE;
}

.card-bubble {
    background-color: #FF7BAC;
}

.card-earth {
    background-color: #876029;
    color: #fff;
}

.card-grape {
    background-color: #6D1F42;
    color: #fff;
}

.card-lilacs {
    background-color: #D3B6D3;
}

.card-butter {
    background-color: #EFCE7B;
}

.card-iced {
    background-color: #B8CEE8;
}

.card-orange {
    background-color: #EF6F3C;
}

.card-olive {
    background-color: #AFAB23;
}